.contact-details {
  &__close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;

    font-size: 2rem;
    color: var(--color-black);

    transition: all .4s ease-in-out;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__trash {
    position: absolute;
    bottom: 4rem;
    right: 4rem;

    font-size: 2.8rem;
    color: var(--color-red);

    cursor: pointer;
  }

  &__colab-logo {
    width: 40%;
    opacity: 0.2;
    position: absolute;
    top: 15rem;
    right: 1rem;
  }

  &__content {
    background-color: var(--color-white);
    border-radius: 8px;

    width: 40%;
    padding: 4.8rem 5.8rem;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 1024px) {
      width: 50%;
      padding: 4rem;
    }

    @media (max-width: 900px) {
      width: 70%;
    }

    @media (max-width: 525px) {
      width: 80%;
    }
  }

  .person-info {
    margin-bottom: 4rem;
  }

  &__detail {
    color: var(--color-black);
    font-size: 2.4rem;
    padding-left: 3.2rem;

    @media (max-width: 1200px) {
      padding: 0;
    }

    &:last-child {
      span {
        font-size: 1.6rem;
        color: var(--color-text-dark);
        background-color: var(--color-primary-tag);
        padding: 0.5rem 1rem;
        position: relative;
      }
    }

    span {
      color: var(--color-text-dark);
      font-size: 2rem;
      margin-left: 1.6rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }
}
