.contact-preview {
  background-color: var(--color-white);
  border-radius: 2px;
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .person-info {
    align-self: flex-start;
    
    @media (max-width: 900px) {
      align-self: initial;
    }
  }

  &__details {
    text-align: left;
    margin: 1.6rem 0;
  }

  &__detail:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__number {
    background-color: var(--color-primary-light);
    padding: 0.8rem 3.2rem;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 6px;
      margin-right: 2rem;

      background-color: #3DC998;
      border-radius: 0 15px 15px 0;
    }
  }

  &__view-contact {
    position: absolute;
    right: 2.4rem;
    bottom: 2.8rem;

    color: var(--color-primary);
    font-size: 2.4rem;

    cursor: pointer;
  }
}
