body {
  font-family: var(--font-body);
  font-weight: var(--font-normal);
  font-size: 1.6rem;
  color: var(--color-text);
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: var(--font-heading);
  font-weight: var(--font-bold);
}

.heading-1 {
  font-size: 10rem;
}

.heading-2 {
  font-size: 3.6rem;
}

.heading-3 {
  font-size: 2.4rem;
}

.heading-4 {
  font-size: 1.8rem;
}
